<div class="mt-5">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <p>aaaaaaaaaaaa<br>
                aaaaaaaaaaaaa<br>
                aaaaaaaaaa<br>
            </p>
        </a>
    </nav>
</div>
