<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Inicio</a>
    <a class="navbar-brand" href="/Usuario">Home</a>
    <a class="navbar-brand" href="/Usuario/login">Login</a>
    <a class="navbar-brand" href="/Usuario/registrar">Registrar</a>

</nav>
