<h1>Bem vindo ao meu Website!</h1>
<table>
    {{#each usuarios}}
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Usuario</th>
        <th>Deletar</th>
    </tr>
    <tr>
        <td>{{dataValues.nome}}</td>
        <td>{{dataValues.email}}</td>
        <td>{{dataValues.usuario}}</td>
        <td><a href="/deletar/{{dataValues.ID}}"><button>Deletar</button></a></td>
    </tr>
    {{/each}}
</table>

<a href="/cad"><button>Cadastrar</button></a>