<div class="container mt-4">
    <div class="card text-white bg-success pb-3">
        <img class=" card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
            <h4 class="card-title font-weight-bolder">Matrícula no NPJ/PARANGABA - 2020.2</h4>
        </div>
    </div>

    <!-- Tab links -->

    <div class="card mt-4 mb-4 bg-black ">

        <div class=" card-body text-left mb-5 mt-5 ">

            <!--Informações importantes-->
            <h2 class="font-weight-bold">Informações importantes</h2>
            <p class=" font-weight-normal text-secondary">Este formulário tem por finalidade a apresentação de
                informações
                e indicação
                dos documentos
                hábeis a
                análise de sua candidatura para cursar estágio no semestre 2020.2.</p>

            <p class="font-weight-normal text-secondary">Todas as respostas aqui apresentadas deverão ser verdadeiras
                sob
                pena de
                indeferimento do
                estágio
                e
                enquadramento na hipótese legal descrita no artigo 299 do Decreto Lei nº 2.848 de 07 de
                Dezembro
                de
                1940.</p>

            <p class="font-weight-normal text-secondary">Você receberá, ao final do preenchimento deste processo,
                protocolo do
                procedimento aqui
                realizado.
            </p>

            <p class="font-weight-normal text-secondary">Atente para não concluir o preenchimento deste formulário sem
                ter
                apresentado
                todas as
                informações
                para
                sua matrícula.</p>

            <!--Documentos necessários-->
            <h2 class="font-weight-bold"><strong>É necessário que tenha digitalizado os seguintes documentos:</strong>
            </h2>

            <p class="font-weight-normal text-secondary">1. Histórico acadêmico solicitado através de Requerimento no
                SIA
                (o documento
                é expedido de
                imediato
                e
                enviado para o e-mail cadastrado, além de ficar disponível para consulta); </p>
            <p class="font-weight-normal text-secondary">2. Declaração das disciplinas nas quais está matriculado(a) no
                semestre 2020.2
                que pode ser
                obtido no
                SIA
                também através de Requerimento;</p>
            <p class="font-weight-normal text-secondary">3. Uma foto 3 x 4 digitalizada em fundo branco;</p>
            <p class="font-weight-normal text-secondary">4. Termo de Compromisso de Estágio firmado entre o local de
                realização de seu
                estágio e a
                Estácio
                em
                período que contemple todo o semestre, caso pretenda aproveitamento de estágio externo;</p>
            <p class="font-weight-normal text-secondary">5. Identidade e CPF que deverão estar digitalizados;</p>
            <p class="font-weight-normal text-secondary">6. Carteira de Estagiário expedida pela OAB ou protocolo de
                entrada neste
                requerimento, caso
                seu
                estágio
                seja externo;</p>
            <p class="font-weight-normal text-secondary">7. Ofício de encaminhamento do coordenador de outra unidade da
                Estácio para
                cursar Estágio no
                NPJ
                da
                Parangaba devidamente digitalizado, caso seja aluno de outro campus.</p>


            <!--Tipos de estágios-->
            <h2 class="font-weight-bold"><strong>Cada estágio diz respeito às seguintes atividades:</strong></h2>

            <p class="font-weight-normal text-secondary">a) EPJ 1 - Direito Civil - simulação e atividades a critério
                do(a)
                professor(a) supervisor(a)
            </p>
            <p class="font-weight-normal text-secondary">b) EPJ 2 - Direito Civil, Direito do Trabalho ou Direito Penal
                (simulação e
                atividades a
                critério
                do(a)
                professor(a)</p>
            <p class="font-weight-normal text-secondary">c) EPJ 3 - Direito Civil - atendimento ao público nas
                dependências do NPJ
                (parceria
                Defensoria
                Pública)
            </p>
            <p class="font-weight-normal text-secondary">d) EPJ 4 - Direito Civil - atendimento ao publico nas
                dependências do NPJ
                (parceria
                Defensoria
                Pública)
            </p>



            <!--Observações-->
            <p class="font-weight-normal text-secondary"><em>Obs: Os EPJs 3 e 4 poderão dizer respeito as práticas da
                    Conciliação e
                    Mediação a
                    critério
                    do(a)
                    professor(a) supervisor(a).</em></p>

            <!--Contato-->
            <p class="font-weight-normal text-secondary">Eventuais dúvidas enviar e-mail à coordenação do NPJ/Parangaba,
                <strong>profa.
                    Ana Marques
                    (marques.ana@estacio.br)</strong> informando no campo "assunto" seu nome completo,
                matrícula
                e
                estágio pretendido.</p>
            </p>
        </div>
        <p class="text-right font-weight-italic text-secondary">26/08/2020
            <br>
            17:49
        </p>
    </div>
</div>

<!-- Aba de contato
    <div id="Contat" class="tabcontent">
        <h3>Entre em contato conosco</h3>
    </div>

    <script src="matnpj.js"></script>
    <noscript>Você precisa habilitar o JavaScript para visualizar o site por completo.</noscript>
</div>
</div>
</div> -->
