{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

{{#with memory}}
<div class="card">
    <Form action="" method="POST">
        <div class="card-body">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" class="form-control" value="{{dataValues.usuario}}">
            <br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </Form>
</div>
{{else}}
<div class="card">
    <Form action="" method="POST">
        <div class="card-body">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" class="form-control">
            <br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </Form>
</div>
{{/with}}
